{% extends "basic.html" %}
{% load static %}

{% block body %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
    </div>
        
    <!-- Button to trigger the modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createCampaignModal">
        Create Won Campaign
    </button>

    <!-- Button to trigger the modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#openCustomerFormModal">
        Create Won Campaign
    </button>


    <div class="col-12 mt-3">

        <!--Datatable-->
        {% include "includes/datatable.html" %}

    </div>
 

{% endblock body %}


{% block javasript %}
<!-- Modal -->
<div class="modal fade" id="createCampaignModal" tabindex="-1" role="dialog" aria-labelledby="createCampaignModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="modal fade" id="openCustomerFormModal" tabindex="-1" role="dialog" aria-labelledby="openCustomerFormModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="modal fade" id="updateCustomerModal" tabindex="-1" role="dialog" aria-labelledby="updateCustomerModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<input type="hidden" id="hiddenUrl" value="{% url 'customer:load_campaign_form' %}">
<input type="hidden" id="formUrl" value="{% url 'customer:customer-load-form' %}">
<script>

    $(document).ready(function() {

        var table = new DataTable('#example', {
            stripeClasses:[],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.5/i18n/de-DE.json',
            },
        });


    });


</script>
{% endblock %}