{% extends "basic.html" %}
{% load static %}

{% block body %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
    </div>
        
    <!-- Button to trigger the modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createCampaignModal">
        Create Won Campaign
    </button>

    <div class="container-fluid px-4">
        <div class="row">
            <div class="col-12 mt-3">

                <!--Datatable-->
                {% include "includes/datatable.html" %}

            </div>
        </div>
    </div>
    

{% endblock body %}


{% block javasript %}

<!-- Modal -->
<div class="modal fade" id="createCampaignModal" tabindex="-1" role="dialog" aria-labelledby="createCampaignModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<script>
    $('#createCampaignModal').on('show.bs.modal', function (event) {
        var modal = $(this);

        $.ajax({
            url: '{% url "customer:load_campaign_form" %}',
            type: 'GET',
            dataType: 'json',
            processData: false,
            contentType: false,
            success: function (data) {
                modal.find('.modal-content').html(data.form_html); // Insert form_html into the modal body
            }
        });
    });

    $('#createCampaignModal').on('submit', '#wonCampaignForm', function (event) {
        event.preventDefault();
        var form = $(this);
    
        $.ajax({
            url: '{% url "customer:save_campaign" %}',
            type: 'POST',
            data: form.serialize(),
            success: function (data) {
                if (data.success) {
                    // Zeige eine Erfolgsmeldung auf der Seite an
                    $('#successMessage').text('Kampagne erfolgreich gespeichert.');
                    $('#createCampaignModal').modal('hide');
                    // Leere das Formular
                    form.trigger('reset');
                } else {
                    // Zeige eine Fehlermeldung auf der Seite an
                    $('#errorMessage').text('Fehler beim Speichern der Kampagne.');
                }
            }
        });
    });
</script>

{% endblock %}