{% extends "basic.html" %}
{% load static %}

{% block body %}

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
    </div>
        
    <!-- Button to trigger the modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createCampaignModal">
        Create Won Campaign
    </button>

    <!-- Button to trigger the modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#openCustomerFormModal">
        Create Won Campaign
    </button>


    <div class="col-12 mt-3">

        <!--Datatable-->
        {% include "includes/datatable.html" %}

    </div>
 
    

{% endblock body %}


{% block javasript %}
<!-- Modal -->
<div class="modal fade" id="createCampaignModal" tabindex="-1" role="dialog" aria-labelledby="createCampaignModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="modal fade" id="openCustomerFormModal" tabindex="-1" role="dialog" aria-labelledby="openCustomerFormModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<div class="modal fade" id="updateCustomerModal" tabindex="-1" role="dialog" aria-labelledby="updateCustomerModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

        </div>
    </div>
</div>

<input type="hidden" id="hiddenUrl" value="{% url 'customer:load_campaign_form' %}">
<input type="hidden" id="formUrl" value="{% url 'customer:customer-load-form' %}">
{% csrf_token %}
<script>

    
    var csrfToken = $('input[name=csrfmiddlewaretoken]').val();

    var dataTable = $('#customerTable').DataTable({
        ajax: {
            url: "{% url 'customer:customer-list-json' %}",
            dataSrc: ""
        },
        columns: [
            { data: "first_name" },
            { data: "last_name" },
            { data: "email" },
            { data: "street_address" },
            { data: "postal_code" },
            { data: "city" },
            { data: "country" },
            { data: "website" },
            { data: "phone_number" },
            { data: null, render: function(data, type, row) {
                return '<button class="btn btn-primary open-update-modal" data-customer-id="' + row.id + '" data-csrf="' + csrfToken + '">Update</button>';
            }},
        ]
    });
    
    // Hier fügst du das CSRF-Token in den Header deiner AJAX-Anfragen ein
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            xhr.setRequestHeader("X-CSRFToken", $('input[name=csrfmiddlewaretoken]').val());
        }
    });
    
    $(document).on('click', '.open-update-modal', function () {
        var customerId = $(this).data('customer-id');
        // Führe den Ajax-Aufruf durch, um das Update-Formular zu laden
    });

</script>
{% endblock %}