//============
// Typography
//============



h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

a span{
    color: $primary;
}


.display-7 {
    font-size: 1rem;}

small{
    font-weight: 700;
    text-transform: uppercase;
}

.text-primary {
    color: #ED0342 !important; }



